@using AttributeGroup = FreeCommerceDotNet.Entities.Concrete.AttributeGroup
@using AttributeGroupManager = FreeCommerceDotNet.BLL.Concrete.AttributeGroupManager
@using AttributeGroupRepository = FreeCommerceDotNet.DAL.Concrete.AttributeGroupRepository
@using Product = FreeCommerceDotNet.Entities.Concrete.Product
@using CustomerManager = FreeCommerceDotNet.BLL.Concrete.CustomerManager
@using OrderManager = FreeCommerceDotNet.BLL.Concrete.OrderMasterManager
@using CustomerRepository = FreeCommerceDotNet.DAL.Concrete.CustomerRepositorycs
@using OrderRepository = FreeCommerceDotNet.DAL.Concrete.OrderMasterRepository
@model Product

@{
    ViewBag.Title = "Category Page";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/js.cookie-2.2.1.min.js"></script>
<script src="~/assets/fcdnJs/CookieOperations.js"></script>
<link href="~/assets/fcdnCss/addCardButtons.css" rel="stylesheet" />
<script src="~/assets/fcdnJs/productPageShoppingCart.js"></script>
<style type="text/css">
    #rating {
        font-size: 0;
    }

        #rating span {
            font-size: 25px;
        }

            #rating span::before {
                content: "☆";
            }

            #rating span.active::before {
                content: "★";
                color: #FFA200;
            }

            #rating span:hover {
                cursor: pointer;
            }
</style>


@helper getAttributes()
{
    foreach (var item in Model.ProductAttributes)
    {
        <tr>
            <td>@item.AttributeBm.AttributeGroup.AttributeGroupName</td>
            <td>@item.AttributeBm.AttributeName</td>
        </tr>
    }

}


<script type="text/javascript">
    window.productImageUrl ='@Model.ImageUrl';
    window.productName = '@Model.ProductName';
    window.productId = @Model.ProductId;

</script>

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>

                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section>
    <div class="collection-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slick">
                        @{
                            string src = "";

                            if (Model.ImageUrl != null)
                            {
                                src = Model.ImageUrl;

                            }
                            else
                            {

                                src = "#";
                            }
                        }
                        <div><img src=@src alt="" class="img-fluid blur-up lazyload image_zoom_cls-0"></div>
                        <div><img src=@src alt="" class="img-fluid blur-up lazyload image_zoom_cls-1"></div>
                        <div><img src=@src alt="" class="img-fluid blur-up lazyload image_zoom_cls-2"></div>
                        <div><img src=@src alt="" class="img-fluid blur-up lazyload image_zoom_cls-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                <div><img src=@src alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src=@src alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src=@src alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src=@src alt="" class="img-fluid blur-up lazyload"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>@Model.ProductName</h2>
                        @{
                            if (Model.ProductDiscounts.FirstOrDefault() != null)
                            {

                                var discount = Model.ProductDiscounts.FirstOrDefault().NewPrice;
                                var price = Model.ProductPrices.FirstOrDefault().Price;

                                var rate = ((price - discount) / price) * 100;
                                <h4><del>@price ₺</del><span>%@rate off</span></h4>
                                <h3>@discount ₺</h3>
                                <script type="text/javascript">
                                    window.productPrice=@(discount);
                                </script>

                            }
                            else
                            {
                                var price = Model.ProductPrices.FirstOrDefault().Price;
                                <h3>@price ₺</h3>
                                <script type="text/javascript">
                                    window.productPrice=@(price);
                                </script>
                            }

                        }
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                        <div class="product-description border-product">
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                    <input type="text" name="quantity" class="form-control input-number" id="productQuantityInput" readonly="readonly" value="1">
                                    <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons"><a href="#" data-toggle="modal" data-target="#addtocart" class="btn btn-solid productPageAddToCard">add to cart</a> <a href="#" class="btn btn-solid">buy now</a></div>
                        <div class="border-product">
                            <h6 class="product-title">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <form class="d-inline-block">                  
                                    <a class="wishlist-btn" href="@Url.Action("AddWishList","Account",new {productId = Model.ProductId,customerId =  ViewBag.CustomerId})"><i class="fa fa-heart"></i><span class="title-font">Add To WishList</span></a>
                                </form>
                            </div>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Frequently bought together</h6>
                            <div class="bundle">
                                <div class="bundle_img">
                                    <div class="img-box">
                                        <a href="#"><img src=@src alt="" class="img-fluid blur-up lazyload"></a>
                                    </div>
                                    <span class="plus">+</span>
                                    <div class="img-box">
                                        <a href="#"><img src=@src alt="" class="img-fluid blur-up lazyload"></a>
                                    </div>
                                    <span class="plus">+</span>
                                    <div class="img-box">
                                        <a href="#"><img src=@src alt="" class="img-fluid blur-up lazyload"></a>
                                    </div>
                                </div>
                                <div class="bundle_detail">
                                    <div class="theme_checkbox">
                                        <label>
                                            this product: WOMEN PINK SHIRT <span class="price_product">$55</span>
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label>
                                            black long skirt <span class="price_product">$20</span>
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label>
                                            women heeled boots <span class="price_product">$15</span>
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <a href="#" class="btn btn-solid btn-xs">buy this bundle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- Section ends -->
<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-profile-description" role="tab" aria-selected="true">Description</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-selected="false">Details</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-top-reviews" data-toggle="tab" href="#top-reviewlist" role="tab" aria-selected="false">Reviews</a>
                        <div class="material-border"></div>
                    </li>
                    @if (ViewBag.perm)
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-selected="false">Write Review</a>
                            <div class="material-border"></div>
                        </li>
                    }

                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-profile-description" role="tabpanel" aria-labelledby="top-home-tab">
                        <p>@Model.ProductDescription</p>
                    </div>
                    <div class="tab-pane fade" id="top-reviewlist" role="tabpanel" aria-labelledby="profile-top-reviews">

                        <section class="section-b-space blog-detail-page review-page">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8">

                                        <ul class="comment-section">


                                            @foreach (var review in ViewBag.reviews)
                                            {
                                                <li>
                                                    <div class="media">

                                                        <img src="~/assets/images/2.jpg" alt="Generic placeholder image">
                                                        <div class="media-body">
                                                            <h6>@review.customer.Firstname @review.customer.Lastname <span>(@review.Date )</span></h6>
                                                            <strong>@review.Title</strong>
                                                            <p>@review.Text</p>
                                                            <ul class="comnt-sec">
                                                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>(14)</span></a></li>
                                                                <li><a href="#"><div class="unlike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>(2)</div></a></li>
                                                            </ul>
                                                        </div>
                                                        @if (review.CustomerId == ViewBag.CustomerId)
                                                        {
                                                            <button onclick="DeleteReviewAjax()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                        }
                                                        <script type="text/javascript">
                                                            function DeleteReviewAjax() {
                                                                var url = location.protocol + '//' + location.host + "/Home/DeleteReview";
                                                                $.ajax({
                                                                    type: "POST",
                                                                    url: url,
                                                                    // The key needs to match your method's input parameter (case-sensitive).
                                                                    data: JSON.stringify({ ReviewId: @review.ReviewId }),
                                                                    contentType: "application/json; charset=utf-8",
                                                                    dataType: "json",
                                                                    success: function (data) {
                                                                        if (data === "Success") {
                                                                            location.reload();
                                                                        }
                                                                        else {
                                                                            alert(data);
                                                                        }
                                                                    },
                                                                    failure: function (errMsg) {

                                                                        alert(errMsg);
                                                                    }
                                                                });
                                                            }
                                                        </script>
                                                    </div>


                                                </li>

                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <div class="single-product-tables">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Length</td>
                                        <td>@Model.Length</td>
                                    </tr>
                                    <tr>
                                        <td>Width</td>
                                        <td>@Model.Width</td>
                                    </tr>
                                    <tr>
                                        <td>Height</td>
                                        <td>@Model.Height</td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td>@Model.Weight</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    @getAttributes()
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @if (ViewBag.perm)
                    {
                        if (ViewBag.hasReview)
                        {
                            <hr>
                            <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                                <h5>Bir ürün için zaten bir yorumunuz bulunmaktadır</h5>
                            </div>

                        }
                        else
                        {
                            <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">

                                <form id="myForm">

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="media">
                                                <label>Rating</label>
                                                <div class="media-body ml-3">
                                                    <div id="rating">
                                                        <span id="star1"></span>
                                                        <span id="star2"></span>
                                                        <span id="star3"></span>
                                                        <span id="star4"></span>
                                                        <span id="star5"></span>
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    document.querySelector('#rating').addEventListener('click', function (e) {
                                                        let action = 'add';

                                                        for (const span of this.children) {
                                                            span.classList[action]('active');
                                                            if (span === e.target) {
                                                                action = 'remove';
                                                                window.rate = e.target.id.replace("star", "");
                                                                console.log('rate ' + window.rate);
                                                            };
                                                        }
                                                    });
                                                </script>

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="review">Review Title</label>
                                            <input type="text" class="form-control" id="review" placeholder="Enter your Review Subjects" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="review">Review</label>
                                            <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-solid" onclick="AddReviewAjax()" type="button">Submit Your Review</button>
                                        </div>
                                    </div>
                                </form>

                                <script type="text/javascript">
                                    function AddReviewAjax() {
                                        var values = {
                                            CustomerId:@ViewBag.customerId,
                                            ProductId:@ViewBag.ProductId,
                                            Title: document.getElementById("review").value,
                                            Text: document.getElementById("exampleFormControlTextarea1").value,
                                            Rating: window.rate

                                        };

                                        var url = location.protocol + '//' + location.host + "/Home/AddReview";
                                        $.ajax({
                                            type: "POST",
                                            url: url,
                                            // The key needs to match your method's input parameter (case-sensitive).
                                            data: JSON.stringify({ review: values }),
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            success: function (data) {
                                                if (data === "Success") {
                                                    location.reload();
                                                }
                                                else {
                                                    alert(data);
                                                }
                                            },
                                            failure: function (errMsg) {

                                                alert(errMsg);
                                            }
                                        });
                                    }


                                </script>
                            </div>
                        }


                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
<!-- product section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>related products</h2>
            </div>
        </div>
        <div class="row search-product">
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/01.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/05.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/6.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/06.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/7.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/07.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/2.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/1.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img src="~/assets/images/fashion/pro/11.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="back">
                            <a href="#"><img src="~/assets/images/fashion/pro/011.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div><a href="product-page(no-sidebar).html"><h6>Slim Fit Cotton Shirt</h6></a>
                        <h4>$500.00</h4>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- footer start -->
<footer class="footer-light">
    <div class="light-layout">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="subscribe">
                            <div>
                                <h4>KNOW IT ALL FIRST!</h4>
                                <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="form-inline subscribe-form auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                            <div class="form-group mx-sm-3">
                                <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required="required">
                            </div>
                            <button type="submit" class="btn btn-solid" id="mc-submit">subscribe</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
<div class="modal fade bd-example-modal-lg theme-modal cart-modal" id="addtocart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal1">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg addtocart">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="media">
                                    <div id="productAddToCardModalImageSection">
                                        <a href="#">

                                        </a>
                                    </div>

                                    <div class="media-body align-self-center text-center">
                                        <div id="productAddToCardModalBodySection">

                                        </div>

                                        <div class="buttons">
                                            <a href="~/Account/MyCart" class="view-cart btn btn-solid">Your cart</a>
                                            <a href="~/Account/Checkout" class="checkout btn btn-solid">Check out</a>
                                            <a href="#" onclick="$('#addtocart').modal('toggle');" class="continue btn btn-solid">Continue shopping</a>
                                        </div>

                                        <div class="upsell_payment">
                                            <img src="~/assets/images/payment_cart.png" class="img-fluid blur-up lazyload" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add to cart modal popup end-->

<script type="text/javascript">
    LoadIfExists(@Model.ProductId);
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

