
@{
    ViewBag.Title = "AttributeGroupList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls
@using FreeCommerceDotNet.Models.BusinessModels
@using FreeCommerceDotNet.Models.DbModels
@model List<FreeCommerceDotNet.Models.BusinessModels.AttributeGroupBM>

@helper GetProductActionButtons(AttributeGroupBM bm)
{
   
    <td class="text-center">
        @Html.ActionLink("Delete", "DeleteAttributeGroup", "Admin", new { id = bm.AttributeGroup.AttributeGroupId }, new { @class = "btn btn-sm btn-warning", data_confirm = "Do you really want to delete this AttributeGroup?" })
        <button type="button" class = "btn btn-sm btn-success" id="showAttributes@(bm.AttributeGroup.AttributeGroupId)" onclick="getAttributeGroupsAttributes(@bm.AttributeGroup.AttributeGroupId)">Show Attributes</button>
    </td>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Attribute Group List</h5>
                    <div class="container-fluid" id="attributesList">
                        <table id="attributesTable">

                        </table>
                    </div>
                </div>
                @{
                    if (TempData["MessageAttributeGroup"] != null)
                    {

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["MessageAttributeGroup"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }

                }
                <div class="card-body">
                    <table class="table" width="2000">
                        <thead>
                        <tr>
                            <th scope="col">Attribute Group Id</th>
                            <th scope="col">Group Name</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                        </thead>



                        <tbody>
                  
                            @foreach (AttributeGroupBM bm in Model)
                            {
                                <tr>
                                    <th scope="row">@bm.AttributeGroup.AttributeGroupId</th>
                                    <td>@bm.AttributeGroup.AttributeGroupName</td>
                                    @GetProductActionButtons(bm)
                                </tr>
                                
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addNewAttributeToAttributesList(entry) {
        var container = $('#attributesTable');
        container.append('<tr><td>'+entry.AttributeName+'</td></tr>');
    }
    function getAttributeGroupsAttributes(groupId) {
        $.ajax({
            type: "GET",
            url: "../api/apiControllers/AttributeGroup/"+groupId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    alert("Success");
                    var attributes = response.Attributes;
                    if (attributes.length) {
                        console.log(attributes);
                        attributes.forEach(function(entry) {
                            addNewAttributeToAttributesList(entry);
                        });

                    } else {
                        alert("Hiç attribute yok");
                    }
                    //$('#EmployeeName').val(response.Name);
                    //$('#EmployeeDesignation').val(response.Designation);
                    //$('#EmployeeLocation').val(response.Location);
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });  


      
    }
</script>
<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm")))
            {
                e.preventDefault();
            }
        });
    });
</script>
