@using FreeCommerceDotNet.Models.BusinessModels

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<CategoryBM>

@helper GetProductActionButtons(CategoryBM bm)
{
    <td class="text-center">
        @Html.ActionLink("Update", "UpdateCategory", "Admin", new { id = bm.Category.CategoryId }, new { @class = "btn btn-sm btn-danger" })
        @Html.ActionLink("Delete", "DeleteCategory", "Admin", new { id = bm.Category.CategoryId }, new { @class = "btn btn-sm btn-warning" })
        @*@Html.ActionLink("Show", "Category", "Admin", new { id = bm.Category.CategoryId }, new { @class = "btn btn-sm btn-success" })*@
    </td>
}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Category List
                        <small>FreeCommerceDotNet Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="~/Admin/"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Product List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Category List</h5>
                    <h3>
                        @TempData["CategorySuccessMessage"]
                </h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Product Count</th>
                            <th scope="col">Sub Category Count</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CategoryBM bm in Model)
                        {
                            <tr>
                                <th scope="row">@bm.Category.CategoryId</th>
                                <td>@bm.Category.CategoryName</td>
                                <td>@bm.Category.Description</td>
                                <td>@bm.Products.Count</td>
                                <td>@bm.SubCategories.Count</td>
                                @GetProductActionButtons(bm)


                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Container-fluid Ends-->
