
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using FreeCommerceDotNet.Entities.Concrete
@using FreeCommerceDotNet.Models.BusinessModels
@model List<FreeCommerceDotNet.Entities.Concrete.OrderMaster>

@helper GetProductActionButtons(OrderMaster bm)
{
    <td class="text-center">
        @Html.ActionLink("Update", "UpdateOrder", "Admin", new { id = bm.OrderId }, new { @class = "btn btn-sm btn-danger" })
        @Html.ActionLink("Delete", "DeleteOrder", "Admin", new { id = bm.OrderId }, new { @class = "btn btn-sm btn-warning" })
        @Html.ActionLink("Detail", "OrderDetail", "Admin", new { id = bm.OrderId }, new { @class = "btn btn-sm btn-success" })
    </td>
}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Order List
                        <small>FreeCommerceDotNet Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="~/Admin/"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Order List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Order List</h5>
                        <h3>@TempData["OrderMasterMessage"]</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Customer Fullname</th>
                                <th scope="col">Product Count</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Shipping</th>
                                <th scope="col" class="text-center">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrderMaster bm in Model)
                            {
                                <tr>
                                    <th scope="row">@bm.OrderId</th>
                                    <td>@bm.CustomerBm.Firstname @bm.CustomerBm.Lastname</td>
                                    <td>@bm.OrderDetails.Count</td>
                                    <td>@bm.PaymentBm.PaymentName</td>
                                    <td>@bm.ShippingBm.ShippingName</td>
                                    @GetProductActionButtons(bm)


                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
