
@{
    ViewBag.Title = "Returns";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using OrderReturn = FreeCommerceDotNet.Entities.Concrete.OrderReturn;
@model List<OrderReturn>

@helper GetProductActionButtons(OrderReturn bm)
{
    <td class="text-center">
        @Html.ActionLink("Update", "UpdateReturn", "Admin", new { id = bm.ReturnId }, new { @class = "btn btn-sm btn-danger" })
        @Html.ActionLink("Delete", "DeleteReturn", "Admin", new { id = bm.ReturnId }, new { @class = "btn btn-sm btn-warning" })
    </td>
}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Order Returns
                        <small>FreeCommerceDotNet Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="~/Admin/"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"> Order Returns</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5> Order Returns</h5>
                    <h3>
                        @TempData["OrderReturnSuccessMessage"]
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Order Id</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Is Box Opened?</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model==null)
                        {
                            <tr>
                                <th scope="row" class="text-center" colspan="7">Herhangi bir return bulunamadı</th>
                                


                            </tr>
                        }
                        else
                        {
                            foreach (OrderReturn bm in Model)
                             {
                                 <tr>
                                     <th scope="row">@bm.ReturnId</th>
                                     <td>@bm.OrderId</td>
                                     <td>@bm.CustomerBm.Firstname @bm.CustomerBm.Lastname</td>
                                     <td>@bm.BoxOpened</td>
                                     <td>@bm.ReturnReason</td>
                                     <td>@bm.ReturnStatus</td>
                                     @GetProductActionButtons(bm)


                                 </tr>
                             }
                        }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
