
@{
    ViewBag.Title = "AttributeGroupList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls
@using FreeCommerceDotNet.Models.BusinessModels
@using FreeCommerceDotNet.Models.DbModels
@model List<FreeCommerceDotNet.Models.BusinessModels.ReviewBM>


<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Reviews
                        <small>FreeCommerce Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">Reviews</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                @{
                    if (TempData["MessageReviews"] != null)
                    {

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["MessageReviews"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    }

                }
                <div class="card-body">
                    <table class="table" width="2000">
                        <thead>
                            <tr>

                                <th scope="col">Review Id</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Product</th>
                                <th scope="col">Review</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>



                        <tbody>

                            @foreach (ReviewBM bm in Model)
                            {
                                <tr>

                                    <th scope="row">@bm.Reviews.ReviewId</th>
                                    <td>@bm.Customers.Firstname @bm.Customers.Lastname</td>
                                    <td>@bm.Products.ProductName</td>
                                    <td>@bm.Reviews.Text</td>
                                    <td>@bm.Reviews.Rating</td>
                                    <td>@bm.Reviews.Date</td>
                                    @if (bm.Reviews.Status == false)
                                    {
                                        <td class="text-center"><a href="@Url.Action("DeleteReview", "Admin",new{id = bm.Reviews.ReviewId})" data_confirm="Do you really want to delete this AttributeGroup?"><i data-feather="trash-2"></i></a><a href="@Url.Action("ChangeReviewVisibility", "Admin",new{id = bm.Reviews.ReviewId})"  style ="width:%50;height:%50"><i data-feather="eye"></i></a></td>
                                    }
                                    @if (bm.Reviews.Status == true)
                                    {
                                        <td class="text-center"><a style="margin-right:5px" href="@Url.Action("DeleteReview", "Admin",new{id = bm.Reviews.ReviewId})" data_confirm="Do you really want to delete this AttributeGroup?"><i data-feather="trash-2"></i></a><a href="@Url.Action("ChangeReviewVisibility", "Admin",new{id = bm.Reviews.ReviewId})"  style ="width:%50;height:%50"><i data-feather="eye-off"></i></a></td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    });
</script>


