
@{
    ViewBag.Title = "UpdatePaymentGateway";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Payment = FreeCommerceDotNet.Entities.Concrete.Payment

@model Payment
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Update Payment Gateway
                        <small>FreeCommerce Admin panel</small>
                    </h3>

                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">Update Payment Gateway</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5> Add Attribute Group</h5>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        @using (Html.BeginForm("UpdatePaymentGateway", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.PaymentId)
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span>Payment Gateway Name:</label>
                                @Html.TextBoxFor(x => x.PaymentName, new { @class = "form-control", id = "validationCustom01", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Payment Description:</label>
                                @Html.TextBoxFor(x => x.PaymentDescription, new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                                @Html.ActionLink("Discard", "PaymentGateways", "Admin", null, new { type = "button", @class = "btn btn-light" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

