
@{
    ViewBag.Title = "UpdateReturn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using FreeCommerceDotNet.DAL.Concrete
@using OrderReturn = FreeCommerceDotNet.Entities.Concrete.OrderReturn
@using Product = FreeCommerceDotNet.Entities.Concrete.Product
@using OrderMaster = FreeCommerceDotNet.Entities.Concrete.OrderMaster
@using OrderMasterManager = FreeCommerceDotNet.BLL.Concrete.OrderMasterManager
@using ProductManager = FreeCommerceDotNet.BLL.Concrete.ProductManager
@model OrderReturn

@{
    List<Product> products;
    List<OrderMaster> masters;

    using (ProductManager m = new ProductManager(new ProductRepository()))
    {
        products = m.SelectAll();
    }

    using (OrderMasterManager m = new OrderMasterManager(new OrderMasterRepository()))
    {
        masters = m.SelectAll();
    }
}


<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Update Return
                        <small>FreeCommerce Admin panel</small>
                    </h3>

                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">Update Return</li>

                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5> Update Return</h5>
                    <h3>@TempData["OrderMasterMessage"]</h3>
                </div>
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        @using (Html.BeginForm("UpdateReturn", "Admin", FormMethod.Post, new { novalidate = "", @class = "needs-validation add-product-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.ReturnId)


                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Product</label>
                                @Html.DropDownListFor(x => x.ProductId, new SelectList(products, "ProductId", "ProductName"), new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Order:</label>
                                @Html.DropDownListFor(x => x.OrderId, new SelectList(masters, "OrderId", "OrderId"), new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Return Reason:</label>
                                @Html.TextBoxFor(x => x.ReturnReason, new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Return Response:</label>
                                @Html.TextBoxFor(x => x.ReturnResponse, new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Box Opened? :</label>
                                @*@Html.CheckBoxFor(x=>x.OrderReturn.BoxOpened, new { @class = "form-control", id = "validationCustom02",  required = "" })*@
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Comment :</label>
                                @Html.TextBoxFor(x => x.Comment, new { @class = "form-control", id = "validationCustom02", type = "text", required = "" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label pt-0"><span>*</span>Status :</label>
                                @Html.CheckBoxFor(x => x.ReturnStatus, new { @class = "form-control", id = "validationCustom02", required = "" })
                            </div>
                            <div class="offset-xl-3 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Add Return</button>
                                @Html.ActionLink("Discard", "Returns", "Admin", null, new { type = "button", @class = "btn btn-light" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<!-- Container-fluid Ends-->
